<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta charset="UTF-8">
<title>cisdi java test</title>
</head>
<body>
	<table class="table" border="1">
	<caption>文件列表</caption>
	   <thead>
	      <tr>
	         <th>序号</th>
	         <th>原文件名</th>
	         <th>新文件名</th>
	         <th>文件大小(byte)</th>
	         <th>上传时间</th>
	         <th>文件状态</th>
	         <th>操作</th>
	      </tr>
	   </thead>
	    <tbody>
	      <tr th:each="file : ${fileList}"><!-- 其中m是个临时变量，像for(User u : userList)那样中的u-->
	      	<td th:text="${file.id}"/> 
	        <td th:text="${file.filename}"/>  
	        <td th:text="${file.newfilename}"/>
	        <td th:text="${file.filesize}"/>
	        <td th:text="${#dates.format(file.createtime,'yyyy-MM-dd HH:mm:ss')}"/>
	        <td th:switch="${file.status}">
	        	<p th:case="0">处理中</p>
				<p th:case="1">处理成功</p>
				<p th:case="2" th:text="${file.data}"></p>
				<p th:case="3">服务器源文件已删除</p>
	        </td>
	        <td th:switch="${file.status}">
	        	<p th:case="0">文件数据正在处理，请稍后</p>
				<p th:case="1">
					<a href="http://localhost:8080" th:href="'/download?fileId=' + ${file.id}" >下载</a>
		        	<a href="http://localhost:8080" th:href="'/downloadbreak?fileId=' + ${file.id}" >断点下载</a>
		        	<a href="http://localhost:8080" th:href="'/analyzedata?fileId=' + ${file.id}" >样本分析</a>
		        	<a href="http://localhost:8080" th:href="'/datalist?fileId=' + ${file.id} + '&pageNo=1'" >数据详情</a>
				</p>
				<p th:case="2">
					<a href="http://localhost:8080" th:href="'/download?fileId=' + ${file.id}" >下载</a>
					<a href="http://localhost:8080" th:href="'/deletefile?fileId=' + ${file.id}" >删除</a>
				</p>
				<p th:case="3"></p>
	        </td>
	    </tr>  
	   </tbody>
	    
	</table>   
	
	
	<br>
	
	<br>
	<a href="http://localhost:8080/pageupload">上传</a>
</body>
</html>